<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>KeepAlive</key>
        <true/>
        <key>Label</key>
        <string>com.jamf-aad-agent.pre-adfs-cba.plist</string>
        <key>Nice</key>
        <integer>20</integer>
        <key>ProgramArguments</key>
        <array>
        <string>/Library/Application Support/JAMFAAD/adfskeyremove.sh</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Library/Application Support/JAMFAAD</string>
        <key>SessionCreate</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key>
        <integer>30</integer>
        <key>StandardErrorPath</key>
        <string>/tmp/jamfaad-preadfs-auth.log</string>
        <key>StandardOutPath</key>
        <string>/tmp/jamfaad-preadfs-auth.log</string>
</dict>
</plist>

